* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}

:root {
    --main-color: #2196F3;
    --alt-color: #1787E0;
    --half-black: #fafafa;
    --bk-over: #ececec;
    --red: #f44036;
    --green: rgb(0, 150, 136);
    --blue: #03a9f4;
}

html {
    scroll-behavior: smooth;
    font-size: 12px;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 1.1rem;
}

img {
    width: 100%;
}

p {
    line-height: 1.7;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    html {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    html {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 17px;
    }
    .container {
        width: 1170px;
    }
}

.pad {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.title {
    width: fit-content;
    margin: 0rem auto 6rem;
    padding: .7rem 1.9rem;
    border: 2px solid black;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
}

.title:hover {
    transition-delay: .4s;
    overflow: hidden;
    color: white;
    border-color: var(--main-color);
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 2;
}

.title::before {
    left: -2.2rem;
}

.title:hover::before {
    animation: left_title .4s linear forwards;
    z-index: -1;
}

@keyframes left_title {
    50% {
        left: 0;
        width: 1rem;
        height: 1rem;
    }
    100% {
        border-radius: 0;
        left: 0;
        width: calc(100% + 20px);
        height: calc(100% + 10px);
    }
}

.title::after {
    right: -2.2rem;
}

.title:hover::after {
    animation: right_title .4s linear forwards;
    z-index: -1;
}

@keyframes right_title {
    50% {
        right: 0;
        width: 1rem;
        height: 1rem;
    }
    100% {
        border-radius: 0;
        right: 0;
        width: calc(100% + 20px);
        height: calc(100% + 10px);
    }
}

.spikes {
    position: relative;
}

.spikes::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    top: 0px;
    left: 0;
    background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%);
    background-size: 30px 30px;
}

.logo h1 {
    position: relative;
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.logo a {
    color: var(--main-color);
    font-weight: 600;
    font-size: 30px;
}

@media (max-width:767px) {
    .logo h1 {
        height: 60px;
    }
}

header {
    height: 100vh;
    position: relative;
}

header nav {
    box-shadow: 1px 1px 10px rgb(213, 212, 212);
    background-color: white;
    position: relative;
}

header nav>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:767px) {
    header nav .container {
        flex-direction: column;
    }
}

header nav .menu {
    display: flex;
}

header nav .menu>li>a {
    padding: 1.5rem;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

header nav .menu>li>a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: .25rem;
    background-color: var(--main-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

header nav .menu>li>a:hover {
    background-color: var(--half-black);
    color: var(--main-color)
}

header nav .menu>li>a:hover::before {
    width: 100%;
}

header nav .menu>li>.seb-section {
    position: absolute;
    top: 140%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    z-index: -1;
    transition: .4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.7rem;
    min-width: 300px;
}

header nav .menu>li:last-child:hover .seb-section {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

header nav .menu>li>.seb-section::after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: var(--main-color);
}

header nav .menu>li>.seb-section .im {
    flex-basis: 45%;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width:767px) {
    header nav .menu>li>.seb-section .im {
        display: none;
    }
}

header nav .menu>li>.seb-section .seb-menu {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav .menu>li>.seb-section .seb-menu li {
    flex-basis: 47%;
    position: relative;
    color: var(--main-color);
}

@media (max-width:767px) {
    header nav .menu>li>.seb-section .seb-menu li {
        flex-basis: 100%;
    }
    header nav .menu>li>.seb-section .seb-menu li:not(:last-child) {
        border-bottom: 1px solid #dcd9d9;
    }
}

header nav .menu>li>.seb-section .seb-menu li:not(:last-child):not(:nth-last-child(2)) {
    border-bottom: 1px solid #dcd9d9;
}

header nav .menu>li>.seb-section .seb-menu li::before {
    position: absolute;
    content: "";
    background-color: var(--half-black);
    left: 0;
    height: 100%;
    width: 0;
    top: 0;
    transition: .3s;
    z-index: -1;
}

header nav .menu>li>.seb-section .seb-menu li:hover::before {
    width: 100%;
}

header nav .menu>li>.seb-section .seb-menu li a {
    color: var(--main-color);
    font-weight: 500;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .content {
    position: relative;
    height: calc(100% - 82.7px);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 110%;
    left: 0;
    top: -10%;
    background-color: var(--bk-over);
    z-index: -1;
    transform: skewY(-4deg);
    transform-origin: top left;
}

header .content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .content .container .text {
    width: 500px;
}

@media (max-width:991px) {
    header .content .container .text {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media (max-width:767px) {
    header .content .container .text {
        width: 100%;
    }
}

header .content .container .text h2 {
    font-size: 2.6rem;
    line-height: 1.5;
    letter-spacing: -3px;
    font-weight: 600;
}

header .content .container .text p {
    font-size: 1.6rem;
    color: #3a3a3a;
}

header .content .container .photo {
    flex-basis: 50%;
    position: relative;
    -webkit-animation: photo 4s linear infinite alternate;
    animation: photo 4s linear infinite alternate;
}

@-webkit-keyframes photo {
    0%,
    100% {
        top: 0
    }
    50% {
        top: -2rem;
    }
}

@keyframes photo {
    0%,
    100% {
        top: 0
    }
    50% {
        top: -2rem;
    }
}

@media (max-width:991px) {
    header .content .container .photo {
        display: none;
    }
}

header .scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
    z-index: 10;
}

header .scroll a {
    font-size: 2rem;
    color: var(--main-color);
    animation: scr 1s linear infinite alternate;
    position: relative;
}

@keyframes scr {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-1rem);
    }
    60% {
        transform: translateY(0rem);
    }
    80% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
    }
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2.5rem;
}

.articles .container .box {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(200, 198, 198);
    cursor: pointer;
    position: relative;
    transition: .3s;
}

.articles .container .box:hover {
    transform: translateY(-1rem);
}

.articles .container .box img {
    height: 280px;
}

.articles .container .box .text {
    padding: 1rem;
    border-bottom: 1px solid #d1d0d0;
}

.articles .container .box .text h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.articles .container .box .text p {
    font-size: .9rem;
    color: #777;
}

.articles .container .box .link {
    padding: 1rem 1.5rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
}

.articles .container .box .link a {
    color: var(--main-color);
    font-size: .9rem;
    font-weight: 600;
}

.articles .container .box:hover i {
    animation: article_move .5s linear infinite;
}

@keyframes article_move {
    80% {
        margin-right: -.5rem;
    }
    100% {
        margin-right: .5rem;
    }
}

.gallery {
    position: relative;
}

.gallery::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bk-over);
    z-index: -1;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.gallery .container .box {
    padding: 1rem;
    background-color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.gallery .container .box .photo {
    position: relative;
    overflow: hidden;
}

.gallery .container .box .photo img {
    height: 470px;
}

.gallery .container .box .photo::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .24);
    opacity: 0;
}

.gallery .container .box .photo:hover::after {
    animation: opa .4s linear;
}

@keyframes opa {
    0%,
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .container .box img {
    transition: .4s;
}

.gallery .container .box:hover img {
    transform: scale(1.2) rotate(4deg);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.features .container .box {
    border: 1px solid #dcd9d9;
    cursor: pointer;
}

.features .container .box .photo {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.features .container .box .photo::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
}

.features .container .box:first-child .photo::before {
    background-color: rgba(244, 64, 54, 60%);
}

.features .container .box:nth-child(2) .photo::before {
    background-color: rgba(0, 150, 136, 60%);
}

.features .container .box:last-child .photo::before {
    background-color: rgba(3, 169, 244, 60%);
}

.features .container .box .photo::after {
    position: absolute;
    content: "";
    width: 0;
    right: 0;
    bottom: 0;
    height: 0;
    z-index: 1;
    transition: .3s;
    border-width: 0px 0px 130px 650px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.features .container .box:hover .photo::after {
    border-width: 0px 650px 130px 0;
}

.features .container .box .photo img {
    height: 400px;
}

.features .container .box .text {
    padding: 1rem;
    text-align: center;
}

.features .container .box .text h2 {
    position: relative;
    text-transform: capitalize;
    width: fit-content;
    margin: 0 auto 3rem;
}

.features .container .box .text h2::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 6px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
}

.features .container .box:first-child .text h2::after {
    background-color: var(--red);
}

.features .container .box:nth-child(2) .text h2::after {
    background-color: var(--green);
}

.features .container .box:last-child .text h2::after {
    background-color: var(--blue);
}

.features .container .box .text p {
    color: #777;
}

.features .container .box .text a {
    text-transform: capitalize;
    font-weight: 600;
    width: fit-content;
    margin: 3rem auto 0;
    padding: .7rem 1.5rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    position: relative;
    transition: .2s;
}

.features .container .box .text a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s;
    z-index: -1;
}

.features .container .box:first-child .text a::after {
    background-color: var(--red);
}

.features .container .box:nth-child(2) .text a::after {
    background-color: var(--green);
}

.features .container .box:last-child .text a::after {
    background-color: var(--blue);
}

.features .container .box:first-child:hover .text a::after,
.features .container .box:nth-child(2):hover .text a::after,
.features .container .box:last-child:hover .text a::after {
    width: 100%;
}

.features .container .box:first-child .text a {
    color: var(--red);
    border-color: var(--red)
}

.features .container .box:nth-child(2) .text a {
    color: var(--green);
    border-color: var(--green)
}

.features .container .box:last-child .text a {
    color: var(--blue);
    border-color: var(--blue)
}

.features .container .box:hover .text a {
    color: white;
}

.testimonials {
    background-color: var(--bk-over);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.4rem 2rem;
}

.testimonials .container .box {
    background-color: white;
    position: relative;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
}

.testimonials .container .box .avatar {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 0px;
    border-radius: 50%;
    overflow: hidden;
    border: 11px solid var(--bk-over);
}

.testimonials .container .box p {
    color: #777;
}

.testimonials .container .box .stars {
    margin: 1rem 0 2rem;
    display: flex;
    gap: .8rem;
}

.testimonials .container .box .stars .star {
    color: #ffc107;
}

.testimonials .container .box .stars .star.fa-regular {
    color: black
}

.testimonials .container .box p:last-of-type {
    font-size: .85rem;
}

.members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.members .container .box {
    padding: 4rem 2rem 2rem 0;
    position: relative;
    overflow: hidden;
}

.members .container .box::before {
    position: absolute;
    content: "";
    width: 85%;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--bk-over);
    z-index: -2;
    border-radius: 10px;
}

.members .container .box::after {
    position: absolute;
    content: "";
    width: 85%;
    right: -85%;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .14);
    transition: .3s;
    border-radius: 10px;
    z-index: -1;
}

.members .container .box:hover::after {
    right: 0;
}

.members .container .box .photo {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.members .container .box .photo .im {
    border-radius: 10px;
    overflow: hidden;
}

.members .container .box img {
    transition: .3s;
    height: 270px;
}

.members .container .box:hover img {
    filter: grayscale(100%);
}

.members .container .box .photo .social {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem
}

.members .container .box .photo .social i {
    font-size: 1.2rem;
    transition: .3s;
    cursor: pointer;
}

.members .container .box .photo .social i:hover {
    color: var(--main-color)
}

.members .container .box .text {
    margin-left: calc(20% + 15px);
    margin-top: 1.5rem;
}

.members .container .box .text h3 {
    color: var(--main-color);
    margin-bottom: .5rem;
    transition: .3s;
}

.members .container .box:hover h3,
.members .container .box .text p {
    color: #777;
}

.services {
    background-color: var(--bk-over);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.services .container .box {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: white;
    position: relative;
    transition: .3s;
    counter-increment: my-counter;
}

.services .container .box:hover {
    transform: translateY(-1rem);
}

.services .container .box::before {
    position: absolute;
    content: "";
    width: 0;
    top: -3px;
    height: 3px;
    background-color: var(--main-color);
    transition: .3s;
    transform: translateX(-50%);
    left: 50%;
}

.services .container .box:hover::before {
    width: 100%;
}

.services .container .box .text {
    padding: 2rem;
    text-align: center;
}

.services .container .box .text i {
    color: #ddd;
    margin-bottom: .7rem;
}

.services .container .box .text h3 {
    color: var(--main-color);
}

.services .container .box .info {
    background-color: var(--bk-over);
    padding: .7rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.services .container .box .info a {
    color: var(--main-color);
}

.services .container .box .info::before,
.services .container .box .info::after {
    position: absolute;
    height: calc(100% + 1px);
    transform-origin: top left;
    top: 0;
}

.services .container .box .info::before {
    width: 90px;
    content: "0" counter(my-counter);
    left: 0;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.services .container .box .info::after {
    transform: skewX(-25deg);
    width: 40px;
    content: "";
    left: 90px;
    background-color: #d5d2d2;
    z-index: 1;
}

.skills .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    align-items: center;
    gap: 2rem;
}

@media (max-width:767px) {
    .skills .container {
        grid-template-columns: 1fr
    }
}

@media (max-width:991px) {
    .skills .container .skill-list {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}

.skills .container .skill-list .skill {
    margin-bottom: 2rem;
}

.skills .container .skill-list .skill h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.skills .container .skill-list .skill .per {
    height: 30px;
    background-color: var(--bk-over);
    margin: 1rem 0;
    position: relative;
}

.skills .container .skill-list .skill .per p {
    position: absolute;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    height: 100%;
}

.skills .container .skill-list .skill .per::after {
    position: absolute;
    content: attr(data-perc);
    right: 0;
    top: calc(-25px - 1rem);
    border: 1px solid var(--main-color);
    width: 35px;
    height: 25px;
    font-size: .8rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.works {
    background-color: var(--bk-over);
}

.works .container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

@media (max-width:991px) {
    .works .container {
        flex-direction: column;
    }
}

.works .im {
    flex-basis: 50%;
}

.works .container .boxes .box {
    position: relative;
    background-color: #f6f5f5;
    border: 1px solid white;
    margin-bottom: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width:767px) {
    .works .container .boxes .box {
        flex-direction: column;
        text-align: center;
    }
}

.works .container .boxes .box::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    background-color: rgba(58, 58, 58, .2);
    width: 0;
    height: 0
}

.works .container .boxes .box:hover::after {
    width: 100%;
    height: 100%;
}

.works .container .boxes .box i {
    font-size: 4rem;
    color: var(--main-color);
}

.works .container .boxes .box .text h2 {
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.works .container .boxes .box .text p {
    font-size: .9rem;
    color: #777;
}

.events .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.events .container .im {
    flex-basis: 70%;
}

@media (max-width:991px) {
    .events .container .im {
        display: none;
    }
}

.events .container .box {
    text-align: center;
}

.events .container .box .time {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.events .container .box .time>div {
    border: 1px solid #ccc;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}

.events .container .box .time>div>div {
    width: 75px;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
}

.events .container .box .time>div>p {
    padding: .3rem .8rem;
    text-transform: capitalize;
    font-size: .7rem;
    border-top: 1px solid #ccc;
    transition: .3s;
}

.events .container .box .time>div:hover,
.events .container .box .time>div:hover p {
    border-color: var(--main-color);
}

.events .container .box h2 {
    margin-bottom: 1rem;
}

.events .container .box>p {
    color: #777;
}

.events form {
    margin: 0 auto;
    background-color: var(--bk-over);
    padding: 1.7rem;
    border-radius: 70px;
    width: 600px;
    max-width: 100%;
    display: flex;
    gap: 1rem;
}

@media (max-width:767px) {
    .events form {
        flex-direction: column;
        gap: 2rem;
        border-radius: 5px;
    }
}

.events form input {
    outline: none;
    border: none;
    padding: 1.4rem;
    border-radius: 40px;
}

@media (max-width:767px) {
    .events form input {
        border-radius: 5px;
    }
}

.events form input[type=email] {
    caret-color: var(--main-color);
    flex-grow: 1;
}

.events form input[type=email]::placeholder {
    transition: opacity .3s;
}

.events form input[type=email]:focus::placeholder {
    opacity: 0;
}

.events form input[type=submit] {
    background-color: var(--main-color);
    color: white;
    transition: .3s;
    cursor: pointer;
}

.events form input[type=submit]:hover {
    background-color: var(--alt-color);
}

.pricing {
    background-color: var(--bk-over);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
}

.pricing .container .box {
    background-color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 3px;
    z-index: 1;
}

@media (min-width:1200px) {
    .pricing .container .box:nth-child(2) {
        transform: translateY(-20px);
    }
}

.pricing .container .box::after,
.pricing .container .box::before {
    position: absolute;
    content: "";
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    transition: .3s;
    z-index: -1;
}

.pricing .container .box::before {
    top: 0;
    left: 0;
}

.pricing .container .box::after {
    bottom: 0;
    right: 0;
}

.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
    width: 100%;
}

.pricing .container .box .pop {
    position: absolute;
    right: 20px;
    top: 0;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    width: 40px;
    line-height: 40px;
    padding: 1rem 0 calc(1rem + 20px);
}

.pricing .container .box .pop::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    bottom: 0px;
    left: 0;
}

.pricing .container .box .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1.5rem;
    color: var(--main-color);
}

.pricing .container .box .text h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
}

.pricing .container .box .text i {
    font-size: 5rem;
}

.pricing .container .box .text .price h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 600;
}

.pricing .container .box .text .price p {
    color: #777;
    text-align: center;
}

.pricing .container .box .benifits div {
    padding: 1.2rem 2rem;
    border-top: 1px solid var(--bk-over);
    position: relative;
}

.pricing .container .box .benifits div::before {
    position: absolute;
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: .6rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color);
}

.pricing .container .box a {
    margin: 2rem auto;
    width: fit-content;
    padding: .8rem 1rem;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: .3s;
    border-radius: 5px;
    font-weight: 600;
}

.pricing .container .box a:hover {
    color: white;
    background-color: var(--main-color);
}

.video {}

.video .container {
    display: flex;
    border: 1px solid #eee;
    padding: 0;
}

@media (max-width:991px) {
    .video .container {
        flex-direction: column;
    }
}

.video .container .video-list {
    min-width: 300px;
}

.video .container .video-list .head {
    background-color: var(--bk-over);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.video .container .video-list .video-title {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.video .container .video-list .video-title h5 {
    font-weight: 500;
    transition: .3s;
}

.video .container .video-list .video-title:hover h5 {
    color: var(--main-color);
}

.video .container .video-list .video-title p {
    margin-top: .5rem;
    color: #777
}

.video .watch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .7rem;
    background-color: #e7e6e6;
}

.video .watch .details {
    padding: 1rem;
    background-color: white;
    margin-top: .7rem;
}

.stats {
    text-align: center;
    background-image: url("../photos/menu.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 4rem 0;
}

.over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .7);
}

.stats h2 {
    text-transform: capitalize;
    font-size: 2.8rem;
    font-weight: 500;
    position: relative;
}

.stats .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.stats .container .box {
    background-color: white;
    padding: 2rem;
    position: relative;
}

.stats .container .box::before,
.stats .container .box::after {
    position: absolute;
    content: "";
    height: 0;
    width: 3px;
    background-color: var(--main-color);
    transition: .3s;
}

.stats .container .box::before {
    bottom: 0;
    left: 0;
}

.stats .container .box::after {
    top: 0;
    right: 0;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}

.stats .container .box i {
    font-size: 3rem;
}

.stats .container .box h3 {
    margin-top: .8rem;
    margin-bottom: .8rem;
    font-size: 3rem;
    font-weight: 500;
}

.stats .container .box p {
    text-transform: capitalize;
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.5rem;
    font-style: italic
}

.discount {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width:991px) {
    .discount {
        grid-template-columns: 1fr;
    }
}

.discount>div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
}

@media (max-width:991px) {
    .discount>div {
        padding: 2rem 15px;
    }
}

.discount .have {
    position: relative;
    background-image: url("../photos/aa.jpg");
    background-position: center;
    background-size: cover;
}

@media (max-width:991px) {
    .discount .have {
        grid-row: 2;
    }
}

.discount .have .over {
    background-color: rgba(33, 150, 243, .7);
}

.discount .have .box {
    position: relative;
    color: white;
}

.discount .have .box h2 {
    font-size: 2rem;
}

.discount .have .box p {
    margin: 3rem auto;
    font-size: 1.2rem;
}

.discount .have .box .im {
    width: 400px;
    margin: 0 auto;
}

@media (max-width:767px) {
    .discount .have .box .im {
        width: 300px;
    }
}

.discount .request .box form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 350px;
}

.discount .request .box form input:not(input[type=submit]),
.discount .request .box form textarea {
    padding: 1rem;
    background-color: var(--half-black);
    border: none;
    border-bottom: 1px solid #d1d1d1;
    caret-color: var(--main-color);
}

.discount .request .box form input[type=submit] {
    color: white;
    background: var(--main-color);
    border: none;
    padding: 1rem;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

.discount .request .box form textarea {
    resize: none;
    height: 200px;
}

.discount .request .box form input[type=submit]:hover {
    background-color: var(--alt-color);
}

footer {
    background: #191919;
    color: #b9b9b9;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.6rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer .container .info h1 {
    font-family: 'Dancing Script', cursive;
    color: var(--main-color);
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    text-align: left;
    margin: 0;
}

@media (max-width:767px) {
    footer .container .info,
    footer .container .info h1 {
        text-align: center;
    }
}

footer .container .info .social {
    display: flex;
    gap: .5rem;
    margin: 1.5rem 0;
}

@media (max-width:767px) {
    footer .container .info .social {
        width: fit-content;
        margin: 1.5rem auto;
    }
}

footer .container .info .social i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(87, 86, 86);
    transition: .3s;
}

footer .container .info .social i:hover:first-child {
    background-color: #1877f2;
}

footer .container .info .social i:hover:nth-child(2) {
    background-color: #1da1f2;
}

footer .container .info .social i:hover:last-child {
    background-color: #ff0000;
}

footer .container .links li:not(:last-child) {
    border-bottom: 1px solid #3a3a3a;
}

footer .container .links a {
    color: #777;
    padding: 0.8rem 0;
    font-weight: 300;
    position: relative;
    transition: .3s;
}

footer .container .links a:hover {
    transform: translateX(20px);
    color: #ddd
}

footer .container .links a i {
    color: var(--main-color);
    margin-right: 1rem;
}

footer .container .location .loc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

@media (max-width:767px) {
    footer .container .location .loc {
        flex-direction: column;
    }
}

footer .container .location .loc i {
    color: var(--main-color);
    font-size: 1.5rem;
}

footer .container .pictures .one {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
}

footer .container .pictures .one .im {
    border: 2px solid white;
    height: 100px;
    overflow: hidden;
}

footer h4 {
    border-top: 1px solid #3a3a3a;
    padding: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}

footer h4 span {
    font-family: 'Dancing Script', cursive;
    color: var(--main-color);
    font-weight: 600;
    font-size: 20px;
}