// break Point
$maxMobile: 767px;
$minSm: 768px;
$maxSm: 991.99px;
$minMd: 992px;
$maxMd: 1199px;
$minLar: 1200px;

// home

$mainColor: #2196f3;
$altColor: #1787e0;
$halfBlack: #fafafa;
$bkOver: #ececec;
$red: #f44036;
$green: rgb(0, 150, 136);
$blue: #03a9f4;
$boxShadow: 1px 1px 10px rgb(213, 212, 212);
