.logo {
  h1 {
    position: relative;
    font-family: "Dancing Script", cursive;
    text-transform: capitalize;
    height: 70px;
    @include flexCenter();
    margin: 0;
    @include breakPoint(m) {
      height: 60px;
    }
  }
  a {
    color: $mainColor;
    font-weight: 600;
    font-size: 30px;
  }
}
